/* Réglages généraux du site */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white; 
    
    background-image: url("fond.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* La zone de la bannière (Titre + Logo) */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-bottom: 40px;
    margin-top: 20px;
}

#mascotte {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid white; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5); 
}

h1 {
    font-size: 3.5rem;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.6); 
}

/* La barre de saisie épurée */
input {
    padding: 15px 25px;
    font-size: 1.2rem;
    border-radius: 30px; 
    border: none;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    outline: none;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.2s; 
}

input:focus {
    transform: scale(1.05); 
}

/* Le conteneur qui accueillera les 151 cases grises */
#pokedex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto; 
}

/* --- NOUVEAU : Apparence des cases des Pokémon vides --- */
.pokemon-box {
    width: 100px;
    height: 100px;
    background-color: rgba(25, 35, 45, 0.8); /* Fond sombre légèrement transparent */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border: 2px solid #34495e;
}

.pokemon-box span.numero {
    font-size: 1.2rem;
    color: #7f8c8d; /* Texte grisé */
    font-weight: bold;
}